html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pagecontainer-horiz-5 {
  position: relative;
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.pagecontainer-horiz-5 > .page {
  display: inline-block;
  width: 20%;
  height: 100%;
}
.pagecontainer-vert-5 {
  position: relative;
  width: 100%;
  height: 500%;
}
.pagecontainer-vert-5 > .page {
  width: 100%;
  height: 20%;
}
.pagecontainer-horiz-6 {
  position: relative;
  width: 600%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.pagecontainer-horiz-6 > .page {
  display: inline-block;
  width: 16.666666666666668%;
  height: 100%;
}
.pagecontainer-vert-6 {
  position: relative;
  width: 100%;
  height: 600%;
}
.pagecontainer-vert-6 > .page {
  width: 100%;
  height: 16.666666666666668%;
}
/*
div.pageContainer
    overflow: hidden
    width: (100% * $num-pages)
    height: 100%
    position: relative
    display: flex

div.pageContainer section.page
    width: (100% / $num-pages)
    height: 100%
    position: relative
    display: inline-block
    font: 1em "Open Sans" sans-serif
*/
nav.top-bar {
  font: 2.5em "Russo One" sans-serif;
}
section.page#home {
  background-color: #ff0;
}
section.page#about {
  background-color: #00f;
}
section.page#resume {
  background-color: #008080;
}
section.page#properties {
  background-color: #008000;
}
section.page#blog {
  background-color: #f00;
}
