div.fixed
    nav.top-bar
        ul.title-area
            li.name
                h1: a(href="/home", class="pagrlink") Colden Cullen

        section.top-bar-section
            ul.right
                li.divider
                li: a(href="/home", class="pagrlink") Home
                li.divider
                li: a(href="/about", class="pagrlink") About Me
                li.divider
                li: a(href="/resume", class="pagrlink") Resume
                li.divider
                li.has-dropdown
                    a(href="/projects/overview", class="pagrlink") Projects
                    ul.dropdown
                        li: a(href="/projects/192", class="pagrlink") Project 192
                        li: a(href="/projects/openmusic", class="pagrlink") OpenMusic
                        li: a(href="/projects/glif", class="pagrlink") GLIF
                        li: a(href="/projects/storytown", class="pagrlink") StoryTown
                        li: a(href="/projects/sgpx", class="pagrlink") SGPX
                        li: a(href="http://129.21.20.27/users/cpc1668/") MAGIC
                        li.divider
                        li: a(href="/projects/overview", class="pagrlink") See all &rarr;
                li.divider
                li: a(href="/blog", class="pagrlink") Blog
