div.fixed
    nav.top-bar
        ul.title-area
            li.name
                h1: a(href="/") Colden Cullen

        section.top-bar-section
            ul.right
                li.divider
                li: a(href="/about") About Me
                li.divider
                li: a(href="/resume") Resume
                li.divider
                li.has-dropdown
                    a(href="/projects") Projects
                    ul.dropdown
                        li: a(href="/projects/1") Project 192
                        li: a(href="/projects/2") GLIF
                        li: a(href="/projects/3") StoryTown
                        li: a(href="/projects/4") SGPX
                        li.divider
                        li: a(href="/projects") See all &rarr;
                li.divider
                li: a(href="/blog") Blog