// div.fixed
//     div.ui.large.menu
//         div.right.menu
//             a.item
//                 i.home.icon
//                 | Home
//             a.item
//                 i.home.icon
//                 | About Me
//             a.item
//                 i.home.icon
//                 | Resume
//             div.ui.dropdown.item
//                 | Projects
//                 i.dropdown.icon
//                 div.menu
//                     a.item Project 192
//                     a.item OpenMusic
//                     a.item GLIF
//                     a.item StoryTown
//                     a.item SGPX
//                     a.item MAGIC
//             a.item
//                 i.home.icon
//                 | Blog

div.fixed
    nav.top-bar
        ul.title-area
            li.name: h1: a.pagrlink(href="/home") Colden Cullen
            li.toggle-topbar.menu-icon
                a(href="#")
                    span

        section.top-bar-section
            ul.right
                li.divider
                li: a.pagrlink(href="/home") Home
                li.divider
                li: a.pagrlink(href="/about") About Me
                li.divider
                li: a.pagrlink(href="/resume") Resume
                li.divider
                li.has-dropdown
                    a.pagrlink(href="/projects/overview") Projects
                    //a.pagrlink.show-for-small Projects
                    ul.dropdown
                        li: a.pagrlink(href="/projects/192") Project 192
                        li: a.pagrlink(href="/projects/openmusic") OpenMusic
                        li: a.pagrlink(href="/projects/glif") GLIF
                        li: a.pagrlink(href="/projects/storytown") StoryTown
                        li: a.pagrlink(href="/projects/sgpx") SGPX
                        li: a(href="http://magic.rit.edu/users/cpc1668/") MAGIC
                        li.divider
                        li: a.pagrlink(href="/projects/overview") See all &rarr;
                li.divider
                li: a.pagrlink(href="/blog") Blog
