section.page#about
    background-color: #8e44ad
    
    .main
        .container
            background: #6c9
            //text-align: center
            color: black
            padding: 25px
            
            p
                font-size: 2em
                line-height: 150%
