$num-projects = 6

/*
section.page#projects
    overflow: hidden

    section.projectscontainer
        overflow: hidden
        height: (100% * $num-projects)
        position: relative
        background-color: green
        
        section.project
            height: (100% / $num-projects)
*/
section.page#properties
    background-color: green