!!! html
html(lang="en")
    head
        include partials/head
        
        // Values to pass from server to client
        script.
            var routePath = "#{routePath}";
            var dev = #{dev};
            var semantic = #{semantic}
            
    body
        include partials/topbar
        
        div.pagecontainer-horiz
            include pages/home
            include pages/about
            include pages/resume
            include pages/projects
            include pages/blog
