doctype html
html(lang="en")
    head
        include head
        
        // Values to pass from server to client
        script.
            var routePath = "#{routePath}";
            var dev = #{dev};
            
    body
        div.wrap
            div.topbar
                include topbar
            div.content
                div.pagecontainer-horiz
                    include pages/home
                    include pages/about
                    include pages/resume
                    include pages/projects
                    include pages/blog
