for num in ($min-pages..$max-pages)
    .pagecontainer-horiz-{num}
        position: relative
        width: (100% * num)
        height: 100%
        display: flex
        
        > .page
            display: inline-block
            width: (100% / num)
            height: 100%
    
    .pagecontainer-vert-{num}
        position: relative
        width: 100%
        height: (100% * num)
        
        > .page
            width: 100%
            height: (100% / num)
