// Reset everything
global-reset()

// Mixin to allow for full sizing
full-size()
    width: 100%
    height: 100%

html, body, .wrap
    full-size()
    overflow: hidden

.content
    @extend .wrap
    background-color: rgb( 39, 40, 34 )

.aligner
    full-size()
    display: flex
    align-items: center;
    justify-content: center;

// Import page styles
@import 'partials/topbar'
@import 'pages/home'
@import 'pages/about'
@import 'pages/resume'
@import 'pages/projects'
@import 'pages/blog'
