// Reset everything
global-reset()

// Mixin to allow for full sizing
full-size()
    width: 100%
    height: 100%

html, body
    full-size()
    overflow: hidden

//@import pagr

nav.top-bar
    font: 2.5em "Russo One" sans-serif

// Import page styles
@import 'pages/home'
@import 'pages/about'
@import 'pages/resume'
@import 'pages/projects'
@import 'pages/blog'
