div.navbar
    color: #555
    
    a
        font: 2em 'Russo One' sans-serif
        padding-top: 5px
        padding-bottom: 5px

    @media (min-width: 768px) and (max-width: 1024px)
        min-height: 0
        
        a
            font: 1.5em 'Russo One' sans-serif
            padding-top: 0
            padding-bottom: 0
    