section.page.aligner#about
    div.main.aligner
        div.container
            p
                | I am a third year Game Design and Development student at Rochester Institute of Technology.
                | I program by nature; I love writing code that does cool stuff, and I love learning new things about code and how it works.
                | I have worked on all different parts of game development, from engine programming to gameplay to physics to UI to tools.
                | Right now I am very interested in engine architecture design and implementation, as well as tool design.
                | I am working with a number of teams on a number of projects, with a focus on those ideals.
