section.page.aligner#home
<<<<<<< HEAD
    p <span style="color:#F56D14">pragma</span>( <span style="color:#33EE33">msg</span>, <span style="color:#F226D3">"Welcome!"</span> );
=======
    p <span style="color:#F56D14">pragma</span>( <span style="color:#33EE33">msg</span>, <span style="color:#33EE33">"Welcome!"</span> );
>>>>>>> 8ab5a9618e3427671be62a6128b3a58966e69de5
