section.page#projects
    section.pagecontainer-vert-6
        section.page#overview
            h1.blah PROJECTZ
        section.page#192
            p.blah THING THANG 192
        section.page#openmusic
            p.blah THING THANG openmusic
        section.page#glif
            p.blah THING THANG glif
        section.page#storytown
            p.blah THING THANG storytown
        section.page#sgpx
            p.blah THING THANG sgpx
    //p.blah Thing Thang